{% extends "base.html" %}
 
{% load comments %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<h3 class="page-header text-center">{{ object.title }}</h3>
<p class="small text-center">{{ object.publish|date:"l, j F Y" }}</p>
<p>
  {% autoescape off %}{{ object.body|linebreaks }}{% endautoescape %}
</p>
<br><br><br>
 <input type="button" onclick="history.back();" value="ВЕРНУТЬСЯ НА ГЛАВНУЮ СТРАНИЦУ"/>
<br><br><br>
  {% if object.allow_comments %}
  <div class = "comment">
   <h4 class = "text-center"> Комментировать </h4 ><br><br>
   <div class = "well">
     {% render_comment_form for object %}
   </ div>
 </div>
 {% endif %}

{% get_comment_count for object as comment_count %}
 <div class = "text-center" style = "padding-top:20px">
   <a href = " {% url 'blog:post-list' %} "> </a>
   
 </div>
<br><br>
{% if comment_count %}
   <h4 class = "text-center"> Комментарии пользователей </h4>
 
   {% render_comment_list for object %}
 
 {% endif %}<br><br>
<input type="button" onclick="history.back();" value="ВЕРНУТЬСЯ НА ГЛАВНУЮ СТРАНИЦУ"/>

{% endblock %}
