{% extends "base.html" %}

{% block content %}
<h3 class="page-header text-center">БЛОГ</h3>

{% for object in object_list %}
<h4>
  <a href="{{ object.get_absolute_url }}">
    {{ object.title }}
  </a>
</h4>
<p class="date">
  Опубликовано {{ object.publish }}
</p>
{% autoescape off %}{{ object.body|truncatewords:40|linebreaks }}{% endautoescape %}
{% endfor %}

<div class="text-center">
  <ul class="pagination pagination-sm">
    {% if page_obj.has_previous %}
    <li>
	  <a href="{% url 'blog:post-list' %}?page={{ page_obj.previous_page_number }}">previous</a>
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li>
	  <a href="{% url 'blog:post-list' %}?page={{ page_obj.next_page_number }}">next</a>
    </li>
    {% endif %}
  </ul>
</div>
{% endblock %}
